body{
	font-family: 'Crimson Text', serif, arial,helvetica;
	color: #0f3041;
	color: rgba(0,0,0,0.5);
}

.section1-font h1 {
	color: #f5f5f5;
}

.section2-font, h1, h2, h3, h4, h5 {
	color: #f5f5f5;
}

.color-turqoise {
	color: #457778;
}

.heading-border {
	border-top: 5px solid #f5f5f5;
	border-bottom: 5px solid #f5f5f5;
}
.fp-controlArrow.fp-prev {
	border-color: transparent #f5f5f5 transparent transparent;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #f5f5f5;

}


.fp-controlArrow.fp-down {
	top: 95%;
	left: 50%;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent  #0f3041 transparent;
	transform: rotate(90deg);
}

.fp-controlArrow.fp-down.fp-down-light {
	top: 95%;
	left: 50%;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent  #f5f5f5 transparent;
	transform: rotate(90deg);
}

.fp-controlArrow.fp-up {
	top: 5%;
	left: 50%;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent  #f5f5f5 transparent;
	transform: rotate(-90deg);
}